body {
	background: rgb(233,248,255);
background: linear-gradient(90deg, rgba(233,248,255,1) 0%, rgba(144,178,216,1) 25%, rgba(193,227,255,1) 100%);
	height: 100vh;
  margin:0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.form-input {
  width:350px;
  padding:20px;
  background:#ffffff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input input {
  display:none;

}
.form-input label {
  display:block;
  width:65%;
  height:55px;
  margin-left: 15%;
  line-height:50px;
  text-align:center;
  background:#00003f;

  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}
.btn-prev{
  display:block;
  width:45%;
  height:40px;
  margin-left: 25%;
  margin-top:5%;
  line-height:40px;
  text-align:center;
  background:#50C878;

  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;



}

.pro-prev {
    display: none;
}


.form-input img {
  width:100%;
  display:none;

  margin-bottom:30px;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #00003f;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    }
    .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    }
    .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    }
    .nav > .nav-links > a {
    display: block;
    width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
}

 
